// COLOURS
$cloud-white: #ffffff;
$cloud-white-transparent: rgba(255, 255, 255, 0.7);
$apple: #4FC94D;
$night-sky: #191919;
$dark-overlay: rgba(10, 10, 10, 0.9);
$cobblestone:  #fdfdfd;
$grey-wool: #282A28;
$silver: #d6d6d6;


// fonts and font spacing
$font-stack: 'Poppins', sans-serif;
$close-spacing: -.3rem;


// transitions
$transition-fast: .3s;
$transition-medium: .5s;
$transition-slow: .7s;

// spacing scale
$space-2xs: .4rem;
$space-xs: .8rem;
$space-sm: 1.2rem;
$space-md:  1.6rem;
$space-lg: 2.4rem;
$space-xl: 3.2rem;
$space-2xl:  4.8rem;
$space-3xl:  6.4rem;
$space-4xl:  9.6rem;
$space-5xl:  12.8rem;

// type scale
$text-2xs: 1rem;
$text-xs: 1.2rem;
$text-sm: 1.4rem;
$text-base:  1.6rem;
$text-lg: 1.8rem;
$text-xl: 2rem;
$text-2xl:  2.4rem;
$text-3xl:  3rem;
$text-4xl:  3.6rem;
$text-5xl:  4.8rem;