// basic setup
html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
  scroll-behavior: smooth;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(phone) {
    font-size: 50%;
  }
}

body {
  overflow-x: hidden;
}

// css reset, box sizing set to border box
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
